<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
>
<head>
	<meta charset="UTF-8">
	<title>CAR SAFETY</title>
	<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
	<link rel="stylesheet" href="/css/estiloscontrato.css">
</head>
<body>
	<div class="menu_principal">
		<div class="imagen_header">
			<img src="/imagenes/logocar.png" class="logo_medium">
		</div>
		<div class="titulo">
			<h1>Generar Comprobante Pago</h1>
		</div>
		<div class="subtitulo">
			Datos del Compronte de Pago
		</div>
		<form th:action="@{/savecomprobante}" th:object=${comprobantepago} method="post">
		<div class="formulario_ingreso_gestion" th:object=${cliente} >
			<div class="formulario_ingreso_gestion_input" >
				<label>Ingresar DNI/RUC</label>
				<input type="text" id="id" th:field="*{idcliente}" >	
			</div>
			<div class="formulario_ingreso_gestion_input">
				<label>Nombre</label>
				<input type="text" id="nombre" th:field="*{nombre}" readonly tabindex="-1">	
			</div>
			<div class="formulario_ingreso_gestion_input">
				<label>Dirección</label>
				<input type="text" id="direccion" th:field="*{direccion}" readonly tabindex="-1">		
			</div>
		</div>
		<div class="formulario_ingreso_gestion" th:object=${ordenpago} >
			<div class="formulario_ingreso_gestion_input" >
				<label style="font-size: 15px;">Ingresar Orden de Pago</label>
				<input type="text" id="idord" th:field="*{idordenpago}" >	
			</div>
			<div class="formulario_ingreso_gestion_input" >
				<label>Detalle</label>
				<input type="text" id="detalle" th:field="*{detalle}" readonly tabindex="-1">	
			</div>
			<div class="formulario_ingreso_gestion_input" >
				<label>MONTO</label>
				<input type="text" id="monto" th:field="*{monto}" readonly tabindex="-1">	
			</div>
		</div>
		<div class="formulario_ingreso_gestion">
			<div class="formulario_ingreso_gestion_input">
				<label>  </label>
				<a class="btn btn-warning" onclick="buscarClienteOrden()" style="font-size: 15px;" >Buscar Cliente y Orden Compra</a>	
			</div>
			<div class="formulario_ingreso_gestion_input">
				<label>Serie</label>
				<select id="serie" name="serie">
					<option value="" disabled selected>Selecciona</option>
					<option value="001">001</option>
					<option value="002">002</option>
					<option value="003">003</option>
				</select>	
			</div>
			<div class="formulario_ingreso_gestion_input">
				<label>Tipo Comprobante</label>
				<select id="tipocomprobante" name="tipocomprobante">
					<option value="" disabled selected>Selecciona</option>
					<option value="Boleta Venta">Boleta Venta</option>
					<option value="Factura">Factura</option>
				</select>	
			</div>
			<div class="formulario_ingreso_gestion_input">
				<label>Fecha Emisión</label>
				<input type="date" id="fecha" th:field="*{fechaemision}" >		
			</div>
			
		</div>
		<div class="formulario_ingreso_gestion">
			<div class="formulario_ingreso_gestion_input">
				
			</div>
			<div class="formulario_ingreso_gestion_input">
				<label>Sub-Total</label>
				<input type="text" id="subtotal" th:field="*{subtotal}" readonly>	
			</div>
			<div class="formulario_ingreso_gestion_input">
				<label>IGV</label>
				<input type="text" id="igv" th:field="*{igv}" readonly>		
			</div>
			<div class="formulario_ingreso_gestion_input">
				<label>Total</label>
				<input type="text" id="montototal" th:field="*{total}" readonly>
			</div>
			
		</div>
		
		<div class="boton_footer">
			<button type="submit" class="boton">Generar Comprobante</button>
			<a href="/index" class="boton" >Salir</a>
		</div>
		</form>
		
	</div>
		
<script>
	
	
	
    // Obtener la hora actual
    function obtenerHora() {
	
	var fechaActual = new Date();

	var formattedFecha = fechaActual.toISOString().split('T')[0];
      
	// Asignar la hora al campo de entrada
	document.getElementById('fecha').value = formattedFecha;
      
    }
    function buscarClienteOrden() {
	// Obtener el valor del input con el id "id"
	var valorId = document.getElementById("id").value;
	var valorIdOrden = document.getElementById("idord").value;

	// Redirigir a la URL con el valor del input como parámetro
	window.location.href = "/buscarcliorden/" + valorId +"/"+valorIdOrden;
	
	
	}
	
	function calcularSubTotalIgv(){
		var monto = document.getElementById("monto").value;
		console.log(monto);
		var subtotal = monto / (1 + (18 / 100));
		var igv = monto - subtotal;
		
		document.getElementById('montototal').value = monto;
		document.getElementById('subtotal').value = subtotal.toFixed(2);
		document.getElementById('igv').value = igv.toFixed(2);
	}
	
	function calcularTiempoMonto(){
		var horaInicio = document.getElementById("horaingreso").value;
		var horaFin = document.getElementById("horasalida").value;
		var precio = document.getElementById("tipovehiculo").value;
		//var tiempo = document.getElementById("tiempo").value;
		//var preciototal = document.getElementById("preciotoral").value;
		
		// Dividir las horas y minutos
            var [horaInicioHH, horaInicioMM] = horaInicio.split(":");
            var [horaFinHH, horaFinMM] = horaFin.split(":");

            // Convertir a minutos
            var minutosInicio = parseInt(horaInicioHH) * 60 + parseInt(horaInicioMM);
            var minutosFin = parseInt(horaFinHH) * 60 + parseInt(horaFinMM);

            // Calcular la diferencia en minutos
            var diferenciaEnMinutos = minutosFin - minutosInicio;

            // Calcular horas y minutos
            var horas = Math.floor(diferenciaEnMinutos / 60);
            var minutos = diferenciaEnMinutos % 60;
            
            var totalMinutos = horas * 60 + minutos;

			// Calcular el número de horas redondeando hacia arriba
			var numeroHoras = Math.ceil(totalMinutos / 60);
			var total = precio*numeroHoras;
			console.log(precio);
			
			if(isNaN(horas)){
				horas = "0";
			}
			if(isNaN(minutos)){
				minutos = "0";
			}
			if(isNaN(total)){
				total = "0";
				//document.getElementById("tipovehiculo").value = "Hola";
			}
			

            // Formatear la diferencia
            var diferenciaFormateada = horas + " hrs. " + minutos + " min.";

            // Mostrar la diferencia en el input correspondiente
            document.getElementById("tiempo").value = diferenciaFormateada;
            document.getElementById("preciototal").value = total;
            document.getElementById("estado").value = "Pagado";
	}
	
</script>
<script th:if="${editar}" th:inline="javascript">
    /*<![CDATA[*/
    window.onload = function() {
        obtenerHora();
        calcularSubTotalIgv();
    };
    /*]]>*/
</script>
</body>
</html>